<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/administ.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="offset-4 col-4 offset-4">
                    <h2>Editar producto</h2>
                </div>
                <section class="caja offset-4 col-4 offset-4">
                    <form action="/administrador/edit/<%= productToEdit.id %>?_method=PUT" method="POST"> 
                        <div class="row">
                            <div class="col-6">
                                <label class="col-12" for="foto">Ingresar ruta de la foto:</label>
                                <input class="col-12" type="text" name="foto" value= "<%= productToEdit.foto %>" >
                            </div>
                            <div class="col-6">
                                <label class="col-12" for="id">ID del producto:</label>
                                <input class="col-12" type="text" name="id" value= "<%= productToEdit.id %>" readonly>
                            </div>
                        </div>
                        <label class="col-12" for="nombre">Nombre:</label>
                        <input class="col-12" type="text" name="nombre" value='<%= productToEdit.name %>'>
                        <label class="col-12" for="descripcion">Descripción:</label>
                        <input class="col-12" type="text" name="descripcion" value='<%= productToEdit.description %>'>
                        <label class="col-12" for="precio">Precio:</label>
                        <input class="col-12" type="text" name="precio" value='<%= productToEdit.price %>'>
                        <label class="col-12" for="categoria">Categoria: </label>
                        <select class="col-12" name="categoria" id="">
                            <% for (let i = 0; i < categories.length; i++) { %>
                                <% if (categories[i].id == productToEdit.category_id) { %>
                                    <option value="<%= categories[i].id %>" selected>
                                        <%= categories[i].category_name %>
                                    </option>
                                <% } else { %>
                                    <option value="<%= categories[i].id %>">
                                        <%= categories[i].category_name %>
                                    </option>
                                <% } %>
                            <% } %>
                        </select>
                        <!-- <input class="col-12" type="text" name="categoria" value='<%= productToEdit.category_id %>'> -->
                        <div class="row">
                            <div class="col-6">
                                <label class="col-12" for="producto">Sexo: </label>
                                <select class="col-12" name="sexo" id="">
                                    <% if(productToEdit.genre_id == 1) { %>
                                        <option value="hombre">Hombre</option>
                                        <option value="mujer">Mujer</option>
                                    <% } else { %>
                                        <option value="mujer">Mujer</option>
                                        <option value="hombre">Hombre</option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="col-12" for="sale">Sale?</label>
                                <% if(productToEdit.sale == true){ %>
                                    <input class="col-3" type="radio" name="sale" value="si" checked>Si<input class="col-3" type="radio" name="sale" value="no">No
                                <% }else{ %>
                                    <input class="col-3" type="radio" name="sale" value="si"> Si   <input class="col-3" type="radio" name="sale" value="no" checked> No
                                <% } %>
                            </div>
                        </div>
                        <label class="col-12" for="Talle">Talles disponibles:</label>
                        <% if(sizes.id == 'XL') { %>
                            <input class="col-1" type="checkbox" name="Talles" value="XL" checked>XL
                        <% } else { %>
                            <input class="col-1" type="checkbox" name="Talles" value="XL">XL 
                        <% } %>
                        <% if(sizes.id == 'L') { %>
                            <input class="col-1" type="checkbox" name="Talles" value="L" checked> L
                        <% } else { %>
                            <input class="col-1" type="checkbox" name="Talles" value="L"> L
                        <% } %>
                        <% if(sizes.id == 'M') { %>
                            <input class="col-1" type="checkbox" name="Talles" value="M" checked> M
                        <% } else { %>
                            <input class="col-1" type="checkbox" name="Talles" value="M"> M
                        <% } %>
                        <% if(sizes.id == 'S') { %>
                            <input class="col-1" type="checkbox" name="Talles" value="S" checked>S 
                        <% } else { %>
                            <input class="col-1" type="checkbox" name="Talles" value="S">S 
                        <% } %>
                        <% if(sizes.id == 'XS') { %>
                            <input class="col-1" type="checkbox" name="Talles" value="XS" checked>XS 
                        <% } else { %>
                            <input class="col-1" type="checkbox" name="Talles" value="XS">XS 
                         <% } %>
                        <br>
                        <button class="col-12" type="submit">Cargar</button>    
                    </form><br>
                    <form action="/administrador/delete/<%= productToEdit.id %>?_method=DELETE" method='POST'>
                        <button class="col-12" type="submit" style="background-color:red;color:white">Eliminar</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>